body {margin: 0 auto;}

.members {
    font-style: italic;
    }
#cover {
    background: url('../images/rtl-album-cover.jpg') no-repeat;
    height: 20em;
}

.highlight {font-family: "Metamorphous", cursive;}

a:hover {
    text-decoration: underline;
    background: green;
    }
a:active,a:link, a:visited {text-decoration: none;}

td {font-style: italic;}


/*
trying the zebra-striping with bootstrap now
table, th, td {background: lawngreen;}*/