body {margin: 0 auto;}

.members {
    font-style: italic;
    }
#cover {
    background: url('../images/rtl-album-cover.jpg') no-repeat;
    height: 20em;
}

.highlight {font-family: "Metamorphous", cursive;}

